@page "/"

<PageTitle>Blazor Static Web App Eas</PageTitle>

<h1 style="text-align:center;">Welcome to my first Azure Web App</h1><br><br>
<h1 style="text-align:center;">This Static Web App was built for my presentation for the Trainee Azure Engineer Position at <b style="color: red;"> ÖBB </b> !</h1>

